*{
	margin: 0px;
	padding: 0px;
}
body,html{
	width: 100%;
	height: 100%;
}
div.header,div.content,div.footer{
	width: 990px;
	margin: 0px auto;
}
div.header{
	height: 80px;
	position: relative;
}
div.content{
	width: 100%;
	height: 475px;
	position: relative;
	background: #fe003c;
}
div.content div.centerBlock{
	width: 990px;
	height: 100%;
	margin: 0px auto;
	position: relative;
	background: url(../images/background.jpg);
}
div.content div.loginBlock{
	position: absolute;
	right: 0px;
	top: 10px;
	width: 346px;
	height: auto;
	background: #fff;
}
div.content div.loginBlock>div{
	position: absolute;
	top: 94px;
	left: 0px;
	width: 100%;
	background: #fff;
}
div.content div.loginBlock div.loginTitle{
	width: 100%;
	height: 36px;
	padding-top: 18px;
	top: 39px;
	border-bottom: 1px solid #f4f4f4;
}
div.content div.loginBlock div.loginTitle span{
	float: left;
	width: 50%;
	height: 100%;
	text-align: right;
}
div.content div.loginBlock div.loginTitle span a{
	padding-right: 50px;
	border-right: 1px solid #f4f4f4;
	font: 18px/18px "Microsoft YaHei";
	text-decoration: none;
	color: #666;
}
div.content div.loginBlock div.loginTitle span a:hover,div.content div.loginBlock div.loginTitle span a.clickActive{
	color: #e4393c;
	font-weight: bold;
}
div.content div.loginBlock div.loginTitle span a.activeClick{
	color: #e4393c;
	font-weight: bold;
}
div.scanCode{
	width: 100%;
	height: 334px;
}
div.scanCode div.codeLogin{
	width: 100%;
	height: 284px;
}
div.codeLogin div.code{
	width: 306px;
	height: 168px;
	margin: 0px auto;
	margin-bottom: 23px;
	padding-top: 18px;
	position: relative;
}
div.codeLogin p.mobileJD{
	height: 13px;
	width: 145px;
	margin: 0px auto;
	margin-bottom: 17px;
	font:12px/12px arial;
	color: #666;
	text-align: center;
}
div.codeLogin p.mobileJD a{
	color: #e4393c;
	margin-right: 13px;
}
div.codeLogin p.information{
	width: 232px;
	height: 25px;
	margin: 0px auto;
	font:12px/25px arial;
	color: #999;
}
div.codeLogin p.information>span{
	line-height: 25px;
	vertical-align: top;
}
div.codeLogin p.information>span:last-child{
	margin-left: 22px;
}
div.codeLogin p.information>span:first-child{
	margin-right: 18px;
}
div.codeLogin p.information>span i{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 7px;
}
div.codeLogin p.information>span span{
	line-height: inherit;
	vertical-align: top;
}

div.code img:first-child{
	position: absolute;
	left: 0px;
	right: 0px;
	width: 147px;
	height: 147px;
	padding: 8px 12px;
	border: 1px solid #f4f4f4;
	margin: 0px auto;
	transition: 300ms left;
}
div.code img.mobile{
	position: absolute;
	width: 141px;
	height: 168px;
	right: -20px;
	top: 17px;
	visibility: hidden;
}
div.account{
	height: 306px;
	visibility: hidden;
}
div.content div.loginBlock div.account form{
	width: 100%;
	height: 222px;
	padding-top: 33px;
	border-bottom: 1px solid #f4f4f4;
	text-align: right;
	font:12px/12px "Microsoft YaHei";
	position: relative;
}
div.account form>div{
	margin-bottom: 23px;
}
div.account form>div:first-child{
	margin-bottom: 20px;
}
div.account form>div:first-child label{
	background: #f4f4f4 url(../images/inputBGM.jpg);
}
div.loginInformation{
	width: 304px;
	height: 38px;
	margin: 0px auto;
	border: 1px solid #bdbdbd;
}
div.loginInformation label,div.loginInformation input{
	display: inline-block;
}
div.loginInformation label{
	width: 38px;
	height: 100%;
	border-right: 1px solid #bdbdbd;
	background: #f4f4f4 url(../images/inputBGM1.jpg);
}
div.loginInformation label.noInformation{
	border-right: 1px solid #e4393c;
}
div.loginInformation input{
	border: none;
	width: 254px;
	height: 38px;
	padding-left: 11px;
	vertical-align: top;
	outline: none;
	font: 15px/38px "Microsoft YaHei";
}
div.loginInformation input::-webkit-input-placeholder{
	font: 15px/38px "Microsoft YaHei";
	color: #999;
}
div.account form>span{
	margin-right: 21px;
	font: 12px/12px arial;
	color: #666;
}
div.account form>span:hover{
	text-decoration: underline;
	color: #e4393c;
	cursor: pointer;
}
div.account input[type="submit"]{
	display: block;
	width: 305px;
	height: 34px;
	margin: 0px auto;
	border: none;
	background: #e4393c;
	font: 22px/34px "arial";
	color: #fff;
	text-align: center;
	margin-top: 23px;
	cursor: pointer;
	outline: none;
}
div.loginFooter{
	width: 346px;
	height: 34px;
	padding-top: 16px;
	background: #fcfcfc;
	position: relative;
}
div.loginFooter div.loginMethodRegister{
	width: 304px;
	height: 19px;
	margin: 0px auto;
}
div.loginMethodRegister div.otherLoginMethod{
	width: 115px;
	height: 100%;
	float: left;
}
div.loginMethodRegister div.otherLoginMethod p{
	float: left;
	width: 56px;
	height: 100%;
	font:12px/19px arial;
}
div.loginMethodRegister div.otherLoginMethod p:last-child{
	width: 58px;
}
div.loginMethodRegister div.otherLoginMethod p i{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	background: url(../images/QQ.jpg);
}
div.loginMethodRegister div.otherLoginMethod p:last-child i{
	margin-left: 11px;
	background: url(../images/weChat.jpg);
}
div.loginMethodRegister div.otherLoginMethod p span{
	vertical-align: top;
	color: #666;
}
div.loginMethodRegister div.otherLoginMethod p span:hover{
	color: #e4393c;
}
div.loginMethodRegister div.otherLoginMethod p:first-child span{
	padding-right: 14px;
	border-right: 1px solid #d5ccd5;
}
div.loginMethodRegister div.register{
	width: 76px;
	height: 100%;
	float: right;
	font:14px/16px arial;
	color: #b61d1d;
}
div.loginMethodRegister div.register i{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background: url(../images/register.jpg);
}
div.loginMethodRegister div.register span{
	vertical-align: top;
}
div.LOGO{
	position: absolute;
	left: 0px;
	width: 290px;
	height: 70px;
	padding-top: 10px;
}
div.LOGO a{
	float: left;
	width: 170px;
	height: 100%;
}
div.LOGO span{
	float: left;
	font: 23px/80px "Microsoft YaHei";
	color: #3a3a3a;
	margin-left: 24px;
}
div.testPaper{
	position: absolute;
	right: 0px;
	bottom: 10px;
	width: 130px;
	height: 16px;
}
div.testPaper i{
	display: inline-block;
	width: 18px;
	height: 100%;
	margin-right: 4px;
	background: url(../images/searchPaper.jpg);
}
div.testPaper span{
	font: 12px/16px "Microsoft YaHei";
	vertical-align: top;
}
div.testPaper span a:link{
	font: 12px/16px "Microsoft YaHei";
	color: #999;
	vertical-align: top;
	text-decoration: none;
}
div.testPaper span a:visited{
	color: #999;
}
div.testPaper span a:hover{
	text-decoration: underline;
	color: #e4393c;
}

div.footer{
	padding-top: 24px;
	height: 40px;
	font:12px/12px arial;
	color: #666;
}
div.footer div.webInformation{
	width: 870px;
	height: 12px;
	margin: 0px auto;
	margin-bottom: 18px;
}
div.footer div.webInformation span{
	display: inline-block;
	width: 77px;
	border-right: 1px solid #666;
	text-align: center;
}
div.footer div.webInformation span:last-child{
	border-right: none;
}
div.footer div.webInformation span a{
	text-decoration: none;
	color: #666;
}
div.footer div.webInformation span a:hover{
	color: #e4393c;
	text-decoration: underline;
}
div.footer div.webCorperation{
	width: 100%;
	height: 12px;
	text-align: center;
}
div.centerBlock div.loginBlock div.webNotice{
	position: static;
	width: 100%;
	height: 39px;
	background: #fff8f0
}
div.webNotice p{
	width: 990px;
	height: 100%;
	margin: 0px auto;
	font:12px/39px arial;
	color: #999;
	text-align: center;
}
div.webNotice p span{
	line-height: 16px;
}
div.webNotice p em{
	font-style: normal;
	color: #333;
}
div.webNotice p i{
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: text-top;
	margin-right: 5px;
	background: url(../images/notice.jpg);
}
div.centerBlock div.loginBlock div.webNotice p{
	width: 100%;
}
div.submitLimit{
	position: absolute;
	width: 304px;
	height: 21px;
	top: 5px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	text-align: center;
	background: #ffebeb;
	border:1px solid #faccc6;
}
div.submitLimit span{
	font:12px/21px arial;
	color: #e4393c;
	text-decoration: none;
}